<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Uniotech_LedTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Uniotech_LedTest.Properties.Settings>
            <setting name="CH1_VALUE" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="CH2_VALUE" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CH3_VALUE" serializeAs="String">
                <value>1497</value>
            </setting>
            <setting name="CH4_VALUE" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CH1_PF_MIN" serializeAs="String">
                <value>121</value>
            </setting>
            <setting name="CH1_PF_MAX" serializeAs="String">
                <value>189</value>
            </setting>
            <setting name="CH2_PF_MIN" serializeAs="String">
                <value>28.8</value>
            </setting>
            <setting name="CH2_PF_MAX" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="CH3_PF_MIN" serializeAs="String">
                <value>174</value>
            </setting>
            <setting name="CH3_PF_MAX" serializeAs="String">
                <value>241.5</value>
            </setting>
            <setting name="CH4_PF_MIN" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="CH4_PF_MAX" serializeAs="String">
                <value>90.3</value>
            </setting>
            <setting name="CH1_PF_ERROR" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CH2_PF_ERROR" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CH3_PF_ERROR" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="CH4_PF_ERROR" serializeAs="String">
                <value>0.5</value>
            </setting>
        </Uniotech_LedTest.Properties.Settings>
    </userSettings>
</configuration>